h1 {
  text-align: center;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

#sync1 {
  width: 50%;
}

#sync2 {
  width: 50%;
}

#sync1 .item {
  background: #0c83e7;
  padding: 10px;
  margin: 0 50px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#sync2 .item {
  background: #0c83e7;
  padding: 5px;
  margin: 5px;
  height: 100px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h12 {
  font-size: 18px;
}
#sync2 .item img{
  display: block;
  height: 100%;
}

#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

.owl-prev {
  left: 10px;
}

.owl-next {
  right: 10px;
}

#sync2.owl-theme {
  position: relative;
}
#sync2.owl-theme .owl-next, #sync2.owl-theme .owl-prev {
  position: absolute;
  top: 30%;
}

#sync2.owl-theme .owl-prev {
  left: -10px;
}

#sync2.owl-theme .owl-next {
  right: -10px;
}
form{
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
fieldset{
  padding: 50px;
}